<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
</head>
<body>
    <h1>Hello</h1>

    <a href="/addNewDevice" class="button button-primary">Add new Device</a>

    <% devices.forEach(device => { %> 

        <h1>Name : <%= device.name %></h1>
        <h1>Company : <%= device.company %></h1>
        <h1>Quantity : <%= device.quantity %></h1>
        <h1>Price : <%= device.price %></h1>
        <!-- <h1>IMG : <%= device.imgString %></h1> -->
        <img src="<%= device.imgString %>" alt="">

        <a href="<%= device.id %>" class="button button-primary">Edit</a>

        <form action="/<%= device.id %>?_method=DELETE" method="POST">
        <button type="submit" class="button">Delete</button>
        </form>

    <% }) %>    


</body>
</html>